:root {
  --vue-koyomi-primary: #2a85ff;
  --vue-koyomi-primary-dark: #1369db;
  --vue-koyomi-primary-light: #e4effc;
  --vue-koyomi-black: #272526;
  --vue-koyomi-gray: #a6a9a7;
  --vue-koyomi-gray-light: #f6f7f9;
  --vue-koyomi-white: #fff;
}
